<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class:"form-control form-group" %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, class:"form-control form-group" %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.select(:game, ['Minecraft', 'Grand Theft Auto', 'League of Legends', 'Call Of Duty', 'FIFA', 'Garry\'s Mod', 'The Sims', 'Five Nights at Freddy\'s', 'Puzzles and Dragons', 'DOTA 2', 'Metal Gear Solid', 'Fallout', 'Counterstrike', 'Diablo'], {}, { :class => 'form-control form-group' }) %>
      </div>
    </div>  
  </div>    
  <div class="actions">
    <%= f.submit class:"btn-danger btn-lg" %>
  </div>
<% end %>
