<% @videos.each do |video| %>
  <% youtube_id = video.url.split(/.be\//) %> 
    <div class="videopost">
      <div class="row">
        <div class="col-md-1">
        <%= link_to like_video_path(video, like: true), method: :post do %>
          <button type="button" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></button>
          <div class="number-likes"><%= video.thumbs_up_total %></div>
        <% end %>
        <%= link_to like_video_path(video, like: false), method: :post do %> 
          <button type="button" class="btn btn-danger"><i class="fa fa-thumbs-down"></i></button>
          <div class="number-dislikes"><%= video.thumbs_down_total %></div>
        <% end %>
        </div>
        <div class="col-md-3">
          <%= link_to "#hello", class: "fancybox" do %>
            <img src="<%= "http://img.youtube.com/vi/#{youtube_id[1]}/mqdefault.jpg" %>" height="125px" width="221px"> 
          <% end %>
        </div> 
          <div class="videoTitle"><%= link_to "#{video.title}", "##{video.vidchooser}", class: "fancybox" %></div>
          <div class="channelName">Created By:<%= video.channel %></div><br>
          <div class="gameType">Game: <button type="button" class="btn btn-default"><%= video.game %></button></div>
      </div>  
    </div>  
    <hr>
    <div style="display:none;">
      <div id="<%= "#{video.vidchooser}" %>">
      <iframe width="1368" height="770" src="<%= "https://www.youtube.com/embed/#{youtube_id[1]}" %>" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
<% end %>
<%= will_paginate @videos %>
