<!-- Code for navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "vidroo", root_path, class:"navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= form_tag search_videos_path, method: :get, class:"navbar-form navbar-left navBarSearchForm " do %>
        <%= text_field_tag :search, params[:search], class: "form-control navBarSearchForm " , placeholder:"Search by any videos, or game titles" %>
      <% end %>  
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>  
        <%= link_to new_video_path do %>  
          <button type="button" class="btn btn-danger navbar-btn">Post A Video</button>
        <% end %>       
      <% else %>
        <%= link_to new_user_registration_path do %>
            <button type="button" class="btn btn-danger navbar-btn">Sign Up</button>
        <% end %>
        <li><%= link_to "Log In", new_user_session_path %></li>
      <% end %>      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>