<!DOCTYPE html>
<html>
<head>
  <title>Vidroo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>
<br>
<br>
<br>
<%= render 'layouts/errors' %>		
<div class="container">
	<%= yield %>
</div>		
<%= render 'layouts/footer' %>
</body>
</html>
